* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.content-container,
.change-container,
.watchlist-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Add this line */
  justify-content: flex-start; /* Add this line */
  align-items: center;
  text-align: center;
}

.content-container {
  width: 300px; /* Adjust the width as per your requirement */
  height: 390px; /* Set the same height as the width to make it a square */
  margin: 0 auto; /* Center the container horizontally */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

.form-container {
  display: flex;
  gap: 10px;
}

/* nav.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
} */

ul.coin-list {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.coin-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.coin-item:hover {
  background-color: #e0e0e0;
}

.coin-name-symbol {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.coin-price {
  font-size: 14px;
  font-weight: bold;
}

nav .nav-buttons {
  display: flex;
  gap: 10px;
}

.coin-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.coin-details h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

.change-container h2 {
  font-size: 24px;
  margin-top: 0;
}
.watchlist-container h2 {
  font-size: 24px;
  margin-top: 0;
}

.menu-bar {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #e0e0e0;
}
.coin-details .coin-price {
  font-size: 18px;
  font-weight: bold;
}

.coin-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 30px;
}

.watchlist-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.watchlist-input {
  padding: 5px;
}
.prev-btn {
  margin-left: 10px;
}
#watchlist-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.watchlist-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.watchlist-items li {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  width: 100%;
}
